@import "tailwindcss";
@theme{
    --color-primary-button:#37006B;
    --color-primary-button-hover:#4B0082;
    --color-input-hover:#4B0082;
    --color-input-focus:#4B0082;
    --color-input-shadow:#4B0082
} 
@layer base{
    /* body {
            font-family: 'Cairo Variable', 'Tajawal', sans-serif;
        
    } */

     body {
    font-family: 'Tajawal', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo Variable', sans-serif;
  }

  button {
    font-family: 'Cairo Variable', sans-serif;
  }

  input, textarea, select, p,span {
    font-family: 'Tajawal', sans-serif;
  }
    span, a {
        @apply inline-block;
    }

    button, a {
        @apply cursor-pointer;
    }
}
@utility container{
    margin-inline:auto;
}
@layer components{
   .form-control {
    @apply w-full rounded-lg border border-gray-300 px-4 py-3 text-sm hover:border-input-hover hover:shadow-input-shadow transition duration-200 focus:outline-none focus:border-input-focus focus:shadow-input-shadow ;
    
   }

   .btn {
    @apply  w-full px-4 py-2 rounded-lg bg-primary-button  font-semibold hover:bg-primary-button-hover transition-colors duration-200;
   }
}
 input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000000 !important;
}
